#signin {
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 30px;
}

#signbox {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 400px;
    width: 300px;
    border: solid 1px black;
    margin: 20px;
    padding: 10px;
    background-color: rgba(213, 213, 213, 0.5);

}

#signbox h1 {
    color: rgb(15, 219, 90);
    font-weight: lighter;
    border-bottom: solid 1px black;
}

#signbox input {
    outline: none;
    padding-left: 10px;
    height: 30px;
    width: 278px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

#signbox button {
    height: 30px;
    border: none;
    border-radius: 5px;
    margin-bottom: 1px;
    outline: none;
}

.inputbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
}